# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [1]:
import pandas as pd
import numpy as np
open = pd.read_csv('sp500hst.txt', header = None, names = ["date", "ticker", "open", "high", "low", "close", "volume"])
print(open)

            date ticker   open     high     low  close  volume
0       20090821      A  25.60  25.6100  25.220  25.55   34758
1       20090824      A  25.64  25.7400  25.330  25.50   22247
2       20090825      A  25.50  25.7000  25.225  25.34   30891
3       20090826      A  25.32  25.6425  25.145  25.48   33334
4       20090827      A  25.50  25.5700  25.230  25.54   70176
...          ...    ...    ...      ...     ...    ...     ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [4]:
#Способ 1
sr = open.iloc[:, 2:6].mean()
print(sr)

open     42.595458
high     43.102243
low      42.054464
close    42.601865
dtype: float64

In [5]:
#Способ 2
sr = open[['open', 'high', 'low', 'close']].mean()
print(sr)

open     42.595458
high     43.102243
low      42.054464
close    42.601865
dtype: float64

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [6]:
open["month"] = (open["date"] % 1000) // 100
open

            date ticker   open     high     low  close  volume  month
0       20090821      A  25.60  25.6100  25.220  25.55   34758      8
1       20090824      A  25.64  25.7400  25.330  25.50   22247      8
2       20090825      A  25.50  25.7000  25.225  25.34   30891      8
3       20090826      A  25.32  25.6425  25.145  25.48   33334      8
4       20090827      A  25.50  25.5700  25.230  25.54   70176      8
...          ...    ...    ...      ...     ...    ...     ...    ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561      8
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489      8
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498      8
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259      8
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792      8

[122574 rows x 8 columns]

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [7]:
open['sum volume'] = open.groupby('ticker')['volume'].transform('sum')
open.drop_duplicates(subset=['ticker'])[['ticker', 'volume']]

       ticker  volume
0           A   34758
245        AA  338295
490      AAPL  148597
731       ABC   33179
976       ABT   84699
...       ...     ...
121390    XTO   55384
121597   YHOO  235459
121840    YUM   31962
122085   ZION   69225
122329    ZMH   20925

[524 rows x 2 columns]

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [8]:
open = pd.read_csv('sp500hst.txt', names = ["date", "ticker", "open", "high", "low", "close", "volume"])
open_2 = pd.read_csv('sp_data2.csv', sep = ';', names = ["ticker", "full name", "percent"])
open_3 = open.merge(open_2[['ticker', 'full name']], how = 'left')
open_3

,date,ticker,open,high,low,close,volume,full name
0,20090821,A,25.60,25.6100,25.220,25.55,34758,Agilent Technologies
1,20090824,A,25.64,25.7400,25.330,25.50,22247,Agilent Technologies
2,20090825,A,25.50,25.7000,25.225,25.34,30891,Agilent Technologies
3,20090826,A,25.32,25.6425,25.145,25.48,33334,Agilent Technologies
4,20090827,A,25.50,25.5700,25.230,25.54,70176,Agilent Technologies
...,...,...,...,...,...,...,...,...
122569,20100813,ZMH,51.72,51.9000,51.380,51.44,14561,NaN
122570,20100816,ZMH,51.13,51.4700,50.600,51.00,13489,NaN
122571,20100817,ZMH,51.14,51.6000,50.890,51.21,20498,NaN
122572,20100819,ZMH,51.63,51.6300,50.170,50.22,18259,NaN
122573,20100820,ZMH,50.03,50.5500,49.480,49.82,17792,NaN

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [44]:
recipes = pd.read_csv('recipes_sample.csv')
reviews = pd.read_csv('reviews_sample.csv')
reviews.rename(columns={'Unnamed: 0':'ID'}, inplace = True)
reviews

,ID,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [45]:
print("Таблица recipes")
print('Кол-во строк: ', len(recipes))
print('Кол-во столбцов: ', len(recipes.columns))
print('Тип данных: ', recipes.dtypes, '\n', '\n')

print("Таблица reviews")
print('Кол-во строк: ', len(reviews))
print('Кол-во столбцов: ', len(reviews.columns))
print('Тип данных: ', reviews.dtypes)

Таблица recipes
Кол-во строк:  30000
Кол-во столбцов:  8
Тип данных:  name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object


Таблица reviews
Кол-во строк:  126696
Кол-во столбцов:  6
Тип данных:  ID            int64
user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [46]:
sr_1 = reviews["rating"].mean()
sr_2 = recipes[["minutes", "n_steps", "n_ingredients"]].mean()
print("Для таблицы reviews\n", sr_1, '\n')
print("Для таблицы recipes\n", sr_2)

Для таблицы reviews
 4.410802235271832

Для таблицы recipes
 minutes          123.358133
n_steps            9.805582
n_ingredients      9.008286
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [47]:
recipes.sample(10)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
14398,idaho onion stew,54852,370,38218,2003-02-25,NaN,this came from idaho with dh's roommate in col...,4.0
3739,bresaola al carpaccio,109801,10,180898,2005-01-28,5.0,"i love bresaola, but it isn't easy to find aro...",NaN
25838,steak in pizzaiola sauce,94655,20,115853,2004-06-29,9.0,my dh2b loved the chicken pizzaiola sub at sub...,8.0
20227,peanut butter chocolate crispy squares,211903,20,333017,2007-02-16,8.0,i have been using this recipe for years. my k...,7.0
8753,crockpot beef stew,402644,385,50969,2009-12-07,6.0,i bought a nice shoulder roast and decided to ...,NaN
29660,yellow pincho seasoning,482928,5,107583,2012-07-10,2.0,"this is used in spanish cooking, similar to cu...",NaN
26038,strawberry ice cream,64140,20,26278,2003-06-09,NaN,a different type of ice cream made with sweete...,NaN
17218,mccormick s original chili seasoning chili,313874,20,889531,2008-07-15,4.0,this recipe is from the backside of the mccorm...,8.0
2525,beach shrimp,239854,30,273105,2007-07-11,NaN,"easy and quick, crowd pleaser.",NaN
13322,happy s homemade taco salad,29388,50,37331,2002-05-28,6.0,fat fat and more...this is pretty easy to make...,11.0

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [48]:
reviews = reviews.reset_index(drop = True)
reviews

,ID,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [49]:
m_20_i_5 = recipes[(recipes["minutes"] <= 20) & (recipes["n_ingredients"] <= 5)]
print(m_20_i_5)

                                                    name      id  minutes  \
28                                   quick biscuit bread  302399       20
60                         peas  fit for a king or queen  303944       20
90                     hawaiian sunrise           mimosa  100837        5
91            tasty dish s   banana pudding in 2 minutes  286484        2
94                                    1 minute meatballs   11361       13
...                                                  ...     ...      ...
29873  zip and steam red potatoes with butter and garlic  304922       13
29874                          ziplock vanilla ice cream   74250       10
29905                      zucchini and corn with cheese  256177       15
29980               zucchini with jalapeno monterey jack  320622       10
29983                          zucchini with serrano ham  162411       15

       contributor_id   submitted  n_steps  \
28             213909  2008-05-06     11.0
60             213909  2008-05-16      NaN
90              58104  2004-09-29      4.0
91              47892  2008-02-13      NaN
94               4470  2001-09-03      NaN
...               ...         ...      ...
29873          724218  2008-05-27      9.0
29874           24386  2003-10-29      8.0
29905          305531  2007-09-29      4.0
29980          305531  2008-08-20      3.0
29983          152500  2006-03-31      6.0

                                             description  n_ingredients
28     this is a wonderful quick bread to make as an ...            5.0
60     this recipe is so simple and the flavors are s...            5.0
90     pineapple mimosa was changed to hawaiian sunri...            3.0
91     "mmmm, i love bananas!" a --tasty dish-- origi...            4.0
94     this is a real short cut for cooks in a hurry....            2.0
...                                                  ...            ...
29873  i haven't tried this yet, but i am going to so...            5.0
29874  a fun thing for kids to do. may want to use mi...            3.0
29905  from betty crocker fresh spring recipes. i lik...            5.0
29980                                  simple and yummy!            3.0
29983  this dish is from tim malzer, a german chef wh...            5.0

[2019 rows x 8 columns]

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [50]:
recipes["submitted"] = pd.to_datetime(recipes["submitted"])
print(recipes.dtypes)

name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [51]:
d_2010 = recipes[recipes["submitted"] <= '2010-12-31']
print(d_2010)

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29993                     zuni caf zucchini pickles  316950     2895
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29999        cookies by design   cookies on a stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29993           62264 2008-07-31      NaN
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29993  refrigerator pickles for some of the zucchini ...            8.0
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[27661 rows x 8 columns]

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [52]:
s = pd.Series(recipes['description'], dtype="string")
dlin = s.str.len()
recipes["description_length"] = dlin
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [53]:
#Способ №1
recipes['name'] = recipes['name'].str.capitalize()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

In [54]:
#Способ №2
recipes["name"].apply(lambda x: x.capitalize())
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [55]:
s = pd.Series(recipes['name'], dtype="string")
dlin = s.str.split().apply(len)
recipes["new_word_count"] = dlin
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,new_word_count
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330,8
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255,5
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39,7
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154,3
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484,8
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286,4
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311,5
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648,2
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [56]:
recipes['contributor_id'].value_counts(sort = True)

89831      421
37449      346
37779      345
1533       186
169430     183
          ...
1061628      1
1076183      1
429061       1
64032        1
186118       1
Name: contributor_id, Length: 8404, dtype: int64

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [57]:
b = reviews['review'].value_counts(sort = True)
a = reviews['rating'].median()
c = reviews['rating'].mean()
d = reviews['recipe_id'].value_counts(sort = True)
print('Средний рейтинг: ', a, '\n')
print('Среднее значение рейтинга: ', c, '\n')
print('Проверка на наличие отзывов: \n', d, '\n')
print('Проверка на количество отзывов: \n', b)

Средний рейтинг:  5.0

Среднее значение рейтинга:  4.410802235271832

Проверка на наличие отзывов:
 27208     1382
82102      708
135350     674
107786     592
50719      486
          ...
23964        1
499966       1
418761       1
430164       1
296868       1
Name: recipe_id, Length: 28100, dtype: int64

Проверка на количество отзывов:
 Delicious!                                                                                                                                                                                                                                                                                                                                                                                       42
Excellent!                                                                                                                                                                                                                                                                                                                                                                                       24
Yummy!                                                                                                                                                                                                                                                                                                                                                                                           22
Yum!                                                                                                                                                                                                                                                                                                                                                                                             22
Very good!                                                                                                                                                                                                                                                                                                                                                                                       14
                                                                                                                                                                                                                                                                                                                                                                                                 ..
Very good. Nice and sweet not spicy. I did mine all in the oven. I had to omit the chili sauce b/c I didn't have any. Very tasty. The sauce would be really good on another cut of beef too.                                                                                                                                                                                                      1
This was very yummy. I used an entre bag of frozen peaches and family loved it.                                                                                                                                                                                                                                                                                                                   1
Mmm, mmm. This is so good! I did change a few things as I wanted a low fat, high protein snack. I left out the olive oil and shallot and just sauteed the beans and garlic and added a drop of white wine. I didn't use as much chicken broth and used basil. I topped with just a bit of parm. Will be making this one again, thanks for the recipe.                                             1
I made a few small adjustments but this recipe turned out great! Instead of using all chicken stock, I used half stock and half skim milk to add some creaminess. I also baked the dish a little longer because I sliced my potatoes by hand and they weren't super thin. The finished product was wonderful! Creamy potatoes with a lovely brown crust. I'll certainly be making this again!     1
Wonderful and simple to prepare seasoning blend. I sampled a little on a piece of chicken I had for lunch.  Can't wait to try it on steaks! I think it would be excellent on broiled french bread, roasted vegetables and so many other dishes as well. Thanks for posting! Made and reviewed for the 44th AUS/NZ Recipe Swap.                                                                    1
Name: review, Length: 126246, dtype: int64

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [59]:
recipes['submitted'].dt.year.value_counts()

2007    4429
2008    4029
2006    3473
2005    3130
2009    2963
2002    2644
2003    2334
2004    2153
2010    1538
2011     922
2012     659
2001     589
2013     490
1999     275
2014     139
2000     104
2015      42
2017      39
2016      24
2018      24
Name: submitted, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3